.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.80);
    width: 176px;
    height: 70px;
    transition:  0.3s ease;
}
.tab-button:hover{
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 22.91513px 59.4096px 0px rgba(255, 255, 255, 0.422);
}

.tab-button.active {
    border-radius: 10px;
    background: #75B336;
    width: 176px;
    height: 70px;
    transition:  0.4s ease;
}
#tab2Button.active{
    border-radius: 10px;
    background: #1B78F9;
    width: 176px;
    height: 70px;
    transition:  0.4s ease;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.swiper-container {
    width: 100%;
    max-width: 600px; /* Призначте бажану ширину слайдера */
}

.swiper-slide {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.gdai-two-buttons-background-blue{
    border-radius: 12px;
    background: linear-gradient(180deg, #1B78F9 0%, #1B78F9 23.4%, rgba(27, 120, 249, 0.42) 40.18%, rgba(27, 120, 249, 0.18) 52.45%, rgba(27, 120, 249, 0.00) 61.17%);
}
.gdai-two-buttons-background-green{
    border-radius: 12px;
    background: linear-gradient(180deg, #75B336 0%, #75B336 23.4%, rgba(117, 179, 54, 0.42) 40.18%, rgba(117, 179, 54, 0.18) 52.45%, rgba(117, 179, 54, 0.00) 61.17%);
}

#tab1 .swiper-button-prev,
#tab1 .swiper-button-next {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="58" height="60" viewBox="0 0 58 60" fill="none"><g filter="url(%23filter0_d_1_479)"><circle cx="29" cy="29" r="29" fill="%2375B336"/></g><path d="M29 44C32.9782 44 36.7936 42.4196 39.6066 39.6066C42.4196 36.7936 44 32.9782 44 29C44 25.0218 42.4196 21.2064 39.6066 18.3934C36.7936 15.5804 32.9782 14 29 14C25.0218 14 21.2064 15.5804 18.3934 18.3934C15.5804 21.2064 14 25.0218 14 29C14 32.9782 15.5804 36.7936 18.3934 39.6066C21.2064 42.4196 25.0218 44 29 44V44ZM22.4375 29.9375C22.1889 29.9375 21.9504 29.8387 21.7746 29.6629C21.5988 29.4871 21.5 29.2486 21.5 29C21.5 28.7514 21.5988 28.5129 21.7746 28.3371C21.9504 28.1613 22.1889 28.0625 22.4375 28.0625L33.2994 28.0625L29.2738 24.0388C29.1866 23.9516 29.1174 23.8481 29.0703 23.7342C29.0231 23.6203 28.9988 23.4983 28.9988 23.375C28.9988 23.2517 29.0231 23.1297 29.0703 23.0158C29.1174 22.9019 29.1866 22.7984 29.2738 22.7112C29.3609 22.6241 29.4644 22.5549 29.5783 22.5078C29.6922 22.4606 29.8142 22.4363 29.9375 22.4363C30.0608 22.4363 30.1828 22.4606 30.2967 22.5078C30.4106 22.5549 30.5141 22.6241 30.6013 22.7112L36.2263 28.3363C36.3136 28.4233 36.3828 28.5268 36.4301 28.6407C36.4773 28.7546 36.5017 28.8767 36.5017 29C36.5017 29.1233 36.4773 29.2454 36.4301 29.3593C36.3828 29.4732 36.3136 29.5767 36.2263 29.6637L30.6013 35.2887C30.4252 35.4648 30.1865 35.5637 29.9375 35.5637C29.6885 35.5637 29.4498 35.4648 29.2738 35.2887C29.0977 35.1127 28.9988 34.874 28.9988 34.625C28.9988 34.376 29.0977 34.1373 29.2738 33.9612L33.2994 29.9375L22.4375 29.9375Z" fill="white"/><defs><filter id="filter0_d_1_479" x="0" y="0" width="58" height="60" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_479"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_479" result="shape"/></filter></defs></svg>');
  height: 58px!important;
  width: 58px!important;
  text-align: center;

}

#tab1 .swiper-button-prev {
  transform: rotatey(180deg);
  left:0px;
}
#tab1 .swiper-button-next {
  right:0px;
}


#tab2 .swiper-button-prev,
#tab2 .swiper-button-next {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="58" height="60" viewBox="0 0 58 60" fill="none"><g filter="url(%23filter0_d_1_479)"><circle cx="29" cy="29" r="29" fill="%2375B336"/></g><path d="M29 44C32.9782 44 36.7936 42.4196 39.6066 39.6066C42.4196 36.7936 44 32.9782 44 29C44 25.0218 42.4196 21.2064 39.6066 18.3934C36.7936 15.5804 32.9782 14 29 14C25.0218 14 21.2064 15.5804 18.3934 18.3934C15.5804 21.2064 14 25.0218 14 29C14 32.9782 15.5804 36.7936 18.3934 39.6066C21.2064 42.4196 25.0218 44 29 44V44ZM22.4375 29.9375C22.1889 29.9375 21.9504 29.8387 21.7746 29.6629C21.5988 29.4871 21.5 29.2486 21.5 29C21.5 28.7514 21.5988 28.5129 21.7746 28.3371C21.9504 28.1613 22.1889 28.0625 22.4375 28.0625L33.2994 28.0625L29.2738 24.0388C29.1866 23.9516 29.1174 23.8481 29.0703 23.7342C29.0231 23.6203 28.9988 23.4983 28.9988 23.375C28.9988 23.2517 29.0231 23.1297 29.0703 23.0158C29.1174 22.9019 29.1866 22.7984 29.2738 22.7112C29.3609 22.6241 29.4644 22.5549 29.5783 22.5078C29.6922 22.4606 29.8142 22.4363 29.9375 22.4363C30.0608 22.4363 30.1828 22.4606 30.2967 22.5078C30.4106 22.5549 30.5141 22.6241 30.6013 22.7112L36.2263 28.3363C36.3136 28.4233 36.3828 28.5268 36.4301 28.6407C36.4773 28.7546 36.5017 28.8767 36.5017 29C36.5017 29.1233 36.4773 29.2454 36.4301 29.3593C36.3828 29.4732 36.3136 29.5767 36.2263 29.6637L30.6013 35.2887C30.4252 35.4648 30.1865 35.5637 29.9375 35.5637C29.6885 35.5637 29.4498 35.4648 29.2738 35.2887C29.0977 35.1127 28.9988 34.874 28.9988 34.625C28.9988 34.376 29.0977 34.1373 29.2738 33.9612L33.2994 29.9375L22.4375 29.9375Z" fill="white"/><defs><filter id="filter0_d_1_479" x="0" y="0" width="58" height="60" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_479"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_479" result="shape"/></filter></defs></svg>');
  height: 58px!important;
  width: 58px!important;
 

}

#tab2 .swiper-button-prev {
  transform: rotatey(180deg);
  left:0px;
}
#tab2 .swiper-button-next {
  right:0px;
}